*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
}

.nav-style {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  width: 254px;
  justify-content: space-between;
  padding: 0px;
  margin-left: 93px;
}
.header-style {
  border-bottom: 1px solid #ececec;
  height: 80px;
}

.link {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  color: #212121;
}
.link-item {
  text-decoration: none;
  color: #757575;
  margin-right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-item:hover,
.link-item:hover svg {
  fill: #2196f3;
  color: #2196f3;
  cursor: pointer;
}

.icon-header {
  fill: #757575;
  margin-right: 10px;
  margin-left: 30px;
}

.link:focus,
.link:hover {
  color: rgba(33, 150, 243, 1);
}

.title {
  color: #ffffff;
  height: 600px;
  text-align: center;
  padding-bottom: 94px;
}
.section-background {
  background: #2f303a;
}
.section-backround-item{
  background: #f5f4fa;
}
.background-image {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/overlay.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  max-width: 1600px;
  margin: 0 auto;
}

.title-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  padding-top: 200px;
  border: 0px;
  text-align: center;
  margin: 0 auto;
}

.button {
  margin-top: 30px;
  line-height: 1.875;
  background-color: rgba(33, 150, 243, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  font-weight: 700;
  padding: 10px 41px;
  border: 0px;
}
.button:hover {
  cursor: pointer;
}

.text-list {
  box-sizing: border-box;
}
.title-text-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
  width: 270px;
}

.text {
  font-size: 14px;
  line-height: 1.714;
  color: #757575;
  width: 270px;
}

.team {
  background: #f5f4fa;
}
.title-secondary {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: rgba(33, 33, 33, 1);
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  color: rgba(33, 33, 33, 1);
  margin-top: 30px;
}
.position {
  color: rgba(117, 117, 117, 1);
  font-size: 16px;
  line-height: 1.187;
  margin-top: 10px;
}

.footer-style {
  padding-top: 60px;
  height: 252px;
}
.footer-style-item {
  text-decoration: none;
}
.footer-color {
  background: #2f303a;
  display: flex;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  color: #2196f3;
}
.logo-item {
  font-family: "Oleo Script", sans-serif;
  font-size: 26px;
  line-height: 1.192;
  color: #ffffff;
}

.logo-header {
  font-family: "Oleo Script", sans-serif;
  font-size: 26px;
  line-height: 1.38;
  color: black;
}

address {
  font-size: 14px;
  line-height: 1.724;
  color: #ffffff;
  padding-top: 20px;
  font-style: normal;
}
.contacts {
  font-size: 14px;
  line-height: 1.724;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.contacts-portfolio {
  font-size: 14px;
  line-height: 1.724;
  color: rgba(255, 255, 255, 0.6);
}
.menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  padding-left: 0px;
}
.buttons {
  padding: 6px 22px;
  border-style: none;
  border-radius: 4px;
  background: #f5f4fa;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  margin-left: 8px;
}
.buttons:focus,
.buttons:hover {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
}

.description {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  width: 322px;
  height: 36px;
  color: #212121;
  padding-left: 24px;
  margin: 0px;
}

.description-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  width: 322px;
  height: 30px;
  color: #757575;
  padding-left: 24px;
  margin: 0px;
}
.box {
  box-sizing: content-box;
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  text-align: center;
}
.box-shadow {
  margin-bottom: 30px;
}
.box-shadow:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.boxes {
  border-left: 1px solid rgba(238, 238, 238, 1);
  border-bottom: 1px solid rgba(238, 238, 238, 1);
  border-right: 1px solid rgba(238, 238, 238, 1);
  padding: 20px 22px;
  margin-top: -4px;
}
.boxes-team {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
}
.flex-boxes {
  align-items: center;
  padding-left: 0px;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.flex {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}
.flex-portfolio {
  display: flex;
  list-style: none;
  justify-content: center;
  align-content: flex-start;
  margin-top: 94px;
  margin-bottom: 50px;
}
.flex-wrap {
  flex-wrap: wrap;
  padding-left: 0px;
}
.style-color {
  padding-bottom: 94px;
  padding-top: 94px;
  padding-left: 0px;
  
}
.style-padding {
  padding-bottom: 94px;
  padding-top: 94px;
  padding-left: 0px;
}
.size-item {
  margin-top: 34px;
}
.style-margin {
  margin-bottom: 94px;
}

.icon:hover {
  fill: #2196f3;
  cursor: pointer;
}
.icon {
  fill: #757575;
  margin-right: 10px;
}
.icon-team {
  width: 20px;
  height: 20px;
}
.icons-box {
  display: inline-flex;
  fill: #afb1b8;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
}
.icons-box:hover {
  background: #2196f3;
  border-radius: 50%;
  fill: white;
  cursor: pointer;
}

.icon-castomers {
  display: flex;
  fill: #afb1b8;
}

.icons-background {
  background: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customers {
  list-style: none;
  padding: 0px;
  display: flex;
  justify-content: space-between;
}
.customers-box {
  box-sizing: border-box;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  width: 170px;
  height: 92px;
}

.container-item {
  padding-bottom: 94px;
  padding-top: 94px;
}

.customers-box:hover svg {
  cursor: pointer;
  fill: #2196f3;
}
.customers-box:hover {
  border: 1px solid #2196f3;
  border-radius: 4px;
  cursor: pointer;
}

.icon-footer {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}
.icon-footer-item {
  display: inline-flex;
  fill: white;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.icon-footer-item:hover {
  background: #2196f3;
  
}

.flex-footer {
  display: flex;
}
.style {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 10px;
}
.footer-position {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-position-item {
  margin-left: 70px;
}
